@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(255, 255, 255);
    margin: auto;
    min-width: 320px;
    max-width: 1900px;
}
header{
    background-color: aquamarine;
    min-height: 90px;
}
header h1{
    margin: auto;
    padding-top: 25px;
    text-align: center;
    font-size: 45px;
}
nav{
    margin: 10px 5px;
}
main{background-color: #fff;
    margin: auto;
    min-width: 350px;
    max-width: 900px;
  
}
img{
    margin: auto;
    max-width: 500px;
}
#b1{
    margin: auto;
    min-width: 200px;
    max-width: 500px;
    padding-top: 15px;
}
.foto{
    max-width: 300px;
    max-height: 200px;
}
#b2{
    padding-left:15px;
    padding-top: 55px;
    min-width: 120px;
    max-width: 200px;
}
#b3{
    margin-top: -465px;
    padding-top: -100px;
   padding-left: 250px;
   min-width: 120px;
    max-width: 200px;
}